$contentClass = '.lyj-theme-content'
@require './code'
@require './custom-blocks'

html, body
  padding 0
  margin 0
  background-color #fff

body
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

.navbar
  position fixed
  top 0
  left 0
  width 100%
  height: $navbarHeight
  border-bottom 1px solid $borderColor
  background-color #fff
  z-index 99
  box-sizing border-box

.sidebar
  position fixed
  top $navbarHeight
  bottom 0
  width $sidebarWidth
  border-right 1px solid $borderColor
  background-color #fff
  z-index 98
  padding-top 3rem
  ul
    list-style none
    padding 0
    margin 0
  .sidebar-group
    .sidebar-link
      color $textColor
    li:hover .sidebar-link
      color $accentColor
    .group-title
      padding-left 1rem
      .sidebar-link
        padding .35rem 1rem .35rem 1.25rem
        display inline-block
    .sub-sidebar-group
      padding-left 1rem
      .sidebar-item
        padding-left 1rem
        .sidebar-link
          padding .35rem 1rem .35rem 1.25rem
          display inline-block
          font-size 0.9rem
          width 100%

.theme-container
  .content
    padding-left $sidebarWidth
    &.is-list
      padding-left 0
      padding-top $navbarHeight + 1rem
    .page-list, {$contentClass}
      max-width $contentWidth
      padding 2rem 2.5rem
      margin 0 auto
      .post
        border-bottom 2px solid $accentColor
        margin-bottom 50px
        padding 16px 0 5px 0
        h1
          margin 0
          font-size 1.5rem
        .tip
          display flex
          justify-content space-between
          margin-top 10px
          .last-update-time
            position relative
            font-size: 12px
            margin-left 18px
            &::before
              position absolute
              content ''
              top 2px
              left -15px
              width 12px
              height 12px
              border-radius 50%
              background-color #999
              z-index 1
            &::after
              position absolute
              content ''
              top 3px
              left -10px
              width 3px
              height 4px
              border 1px solid #fff
              border-top-color transparent
              border-right-color transparent
              z-index 2
          .blog-tags
            font-size: 12px

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25

  {$contentClass}:not(.custom) > &
    margin-top (0.5rem - $navbarHeight)
    padding-top ($navbarHeight + 1rem)
    margin-bottom 0

    &:first-child
      margin-top -1.5rem
      margin-bottom 1rem

      + p, + pre, + .custom-block
        margin-top 2rem

  &:hover .header-anchor
    opacity: 1
    
h1
  font-size 2.2rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 1.35rem

{$contentClass}:not(.custom)
  // @extend $wrapper
  > *:first-child
    margin-top $navbarHeight

  a:hover
    text-decoration underline

  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px

  img
    max-width 100%

{$contentClass}.custom
  padding 0
  margin 0

  img
    max-width 100%

a
  font-weight 500
  color $accentColor
  text-decoration none

p a code
  font-weight 400
  color $accentColor

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size 1rem
  color #999;
  border-left .2rem solid $accentColor
  margin 1rem 0
  padding .25rem 0 .25rem 1rem

  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0

  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5

  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em
